DATABASE_URL="mysql://usernama:password@127.0.0.1:3306/database_name"


PORT = YOUR PORT NUMBER SHOULD BE HERE;


TYPEORM_CONNECTION = mysql
TYPEORM_HOST = localhost
TYPEORM_USERNAME = mysql usernama
TYPEORM_PASSWORD = localhost_password
TYPEORM_DATABASE = database_name
TYPEORM_PORT = PORT_Number
TYPEORM_LOGGING = 